.autocompleteItem {
  padding: 0.75rem 1rem;
  border-radius: 4px;
}

.autocompleteItem:hover {
  cursor: pointer;
}

.autocompleteItem:hover {
  background-color: #f3f4f6;
}

.autocompleteItem:focus-within {
  background-color: #f3f4f6;
  outline: none;
}

.autocompleteItem[aria-selected="true"] {
  background-color: #f3f4f6;
}
