.App {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;

  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 4rem;
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.input:focus-within {
  outline: none;
}

.input::placeholder {
  color: #d1d5db;
  font-weight: 400;
}

.dropdown {
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  position: absolute;
  width: 100%;
  padding: 8px;
  top: calc(100% + 8px);
  left: 0;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  max-height: 400px;
  overflow: scroll;
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}

.skeleton {
  animation: pulse 2s infinite;
  background: linear-gradient(-90deg, #efefef 0%, #fcfcfc 50%, #efefef 100%);
  background-size: 400% 400%;
  height: 24px;
  width: 100%;
  border-radius: 4px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.75rem;
  border-radius: 8px;
  gap: 0.5rem;
}

.inputWrapper:focus-within {
  outline: 2px solid #60a5fa;
  border-color: transparent;
}

.label {
  color: #4b5563;
  font-size: 14px;
}

.autocompleteItem {
  padding: 0.75rem 1rem;
  border-radius: 4px;
}

.autocompleteItem:hover {
  cursor: pointer;
}

.autocompleteItem:hover {
  background-color: #f3f4f6;
}

.autocompleteItem:focus-within {
  background-color: #f3f4f6;
  outline: none;
}

.autocompleteItem[aria-selected="true"] {
  background-color: #f3f4f6;
  color: #2563eb;
}
